::-webkit-scrollbar { width:0px; height:0px; }
.mp_bg{
    width: 100vw;
    height: auto;
    padding: 0;
    background: black;
    overflow-x: hidden;
}
/* 1 */
.mp_title{
    padding: 0;
    height: 750px;
    width: 100%;
    padding: 0;
}
.mp_title_img{
    padding: 0;
    height: 750px;
    width: 100%;
    box-shadow:0 0 50px #fff;
}
.mp_title_txt{
    text-align: center;
    font-size: 100px;
    font-family: 'Qwitcher Grypen', cursive;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-left: 42%;
    margin-top: -43%;
    animation-duration: 2s;
    animation-name: animation1;
}
@keyframes animation1 {
    from {
        color:rgba(219, 219, 219, 0);
        margin-left: 52%;
    }
    to {
        margin-left: 42%;
    }
  }
.mp_title_txt2{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(94, 93, 93);
    font-size: 18px;
    letter-spacing: 1px;
}

/* 2 */
.mp_bg_cube{
    height: 2000px;
    width: 70%;
    margin-left: 15%;
}







/* time */
.mp_time{
    height: 230px;
    width: 100%;
    color: white;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
}
.mp_time_date{
    font-style: italic;
    letter-spacing: 3px;
    margin-top: 80px;
    margin-bottom: -20px;
}
.mp_time_time{
    margin-top: 0px;
    font-size: 120px;
    letter-spacing: 10px;
    text-shadow: #FC5C7D 5px 0 30px;
    cursor: default;
}
.mp_time_time:hover{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* resume */
.mp_resume{
    height: 415px;
    width: 100%;
}
.mp_resume_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_resume_cube{
    height: 305px;
    width: 100%;
    padding: 22px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow:0 0 10px gray;
    overflow-x: hidden;
}
.mp_resume_cube:hover .mp_resume_subtitle_highlight{
    color: #ee7b8b;
}
.mp_resume_subtitle{
    display: inline;
    color: white;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}
.mp_resume_subtitle_highlight{
    display: inline;
    color: aquamarine;
    font-weight: 500;
}
.mp_resume_txt{
    margin-top: 55px;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
}









/* music */
.mp_music{
    margin-top: 50px;
    height: auto;
    width: 100%;
}
.mp_music_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_music_cube{
     width: auto;
     height: 250px;
     border-radius: 20px;
}
.mp_music_cube:hover{
    cursor: pointer;
    box-shadow:0 0 10px white;
}
.mp_music_cube:hover .mp_music_imgtxt{
    animation-duration: 0.5s;
    animation-name: animation5;
    margin-top: -30px;
    color: var(--txtcolor)
}
@keyframes animation5 {
    from {
        margin-top: 0px;
        color: rgba(219, 219, 219, 0);
    }
    to {
        margin-top: -30px;
        color: var(--txtcolor);
    }
  }
.mp_music_img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.mp_music_imgtxt{
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    color: rgba(219, 219, 219, 0);
}
.mp_music_player{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 0px;
}












/* carousels */
.mp_carousels{
    height: auto;
    width:100%;
    margin-top: 70px;
}
.mp_carousels_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_carousels_content1{
    height: auto;
    width: 100%;
}
.mp_carousels_content1:hover .mp_carousels_txt{
    color: black;
    background: #C9FFBF;  
    background: -webkit-linear-gradient(to right, #ffafbcb9, #C9FFBFb9);  
    background: linear-gradient(to right, #FFAFBDb9, #C9FFBFb9); 

}
.mp_carousels_txt{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 18px;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
}





/* education */
.mp_edu{
    width: 100%;
    height: 1200px;
}
.mp_edu_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_edu_txt1{
    color: var(--edutxt1);
    height: 150px;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 20px;
    text-shadow:0 0 10px var(--edutxt1);
    animation-duration: 2s;
    animation-name: animation3;
}
@keyframes animation3 {
    from {
        color:rgba(219, 219, 219, 0);
        margin-left: 100px;
    }
    to {
        margin-left: 20px;
    }
  }
.mp_edu_txt1:hover{
    color: white;
    text-shadow: white 1px 0 10px;
}
.mp_edu_txt2{
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;
}
.mp_edu_txt3{
    color: white;
    font-size: 15px;
    font-style: italic;
}
.mp_edu_txt4{
    color: var(--edutxt1);
    height: 150px;
    font-size: 30px;
    letter-spacing: 3px;
    margin-right: 20px;
    text-shadow:0 0 10px var(--edutxt1);
    animation-duration: 2s;
    animation-name: animation4;
}
@keyframes animation4 {
    from {
        color:rgba(219, 219, 219, 0);
        margin-right: 100px;
    }
    to {
        margin-right: 20px;
    }
  }
.mp_edu_txt4:hover{
    color: white;
    text-shadow: white 1px 0 10px;
}






/* skill */
.mp_skill_cube{
    width: 100%;
    height: auto;
}
.mp_skill_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_skill_card{
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow:0 0 10px gray;
}
.mp_skill_card:hover{
    background: #FC5C7D;  
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
    background: linear-gradient(to right, #6A82FB, #FC5C7D); 
    
}
.mp_skill_card:hover > .mp_skill_card_name{
    color: black;
}
.mp_skill_card:hover > .mp_skill_card_des{
    color: black;
}
.mp_skill_card:hover > .mp_skill_card_percentage{
    background-color: rgba(255, 255, 255, 0.7);
}
.mp_skill_card:hover  .mp_skill_card_percentage_content{
    background-color: rgb(0, 0, 0);
}
.mp_skill_card:hover  .mp_skill_card_percentage_txt{
    color: rgb(0, 0, 0);
}
.mp_skill_card_name{
    color: var(--cardtitlecolor);
    font-size: 20px;
    margin-bottom: 0px;
}
.mp_skill_card_des{
    font-size: 16px;
    color: white;
    -moz-hyphens:auto; -ms-hyphens:auto; -webkit-hyphens:auto; hyphens:auto; word-wrap:break-word;
}
.mp_skill_card_percentage{
    height: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}
.mp_skill_card_percentage_content{
    width: calc(var(--cardper)*1%);
    height: 100%;
    background-color: var(--cardtitlecolor);
    animation-duration: 2s;
    animation-name: animation2;
}
@keyframes animation2 {
    from {
        background-color: rgba(219, 219, 219, 0);
        width: 0%;
    }
    to {
        width: calc(var(--cardper)*1%);
    }
  }
.mp_skill_card_percentage_txt{
    float: right;
    font-size: 15px;
    margin-right: 3%;
    color: white;
}






.mp_fav{
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.mp_fav_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_favs_cube{
    width: 100%;
    height: 110px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow:0 0 10px gray;
    overflow-x:unset;
    overflow-y: scroll;
    white-space: nowrap;
    margin-bottom: 20px;
}
.mp_favs{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 15px;
    color: white;
    margin-left: 15px;
    padding: 8px;
    background-color: gray;
    border-radius: 15px;
    white-space: nowrap;
}
.mp_favs:hover{
    background: #800080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow:0 0 10px white;
    cursor: pointer;
}
.mp_favs:hover .mp_favs_img_cube{
    background-color: black;
}
.mp_favs:hover .mp_favs_img{
    color: white;
}
.mp_favs_img_cube{
    width: 63px;
    height: 63px;
    background-color: white;
    border-radius: 12px;
}
.mp_favs_img{
    color: black;
    font-size: 45px;
    text-align: center;
}
.mp_fav_details{
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.mp_fav_card{
    width: auto;
    height: 330px;
}
.mp_fav_card:hover .mp_fav_detailstxt{
    color: #f27121;
    font-weight: 700;
}
.mp_fav_detailstxt{
    width: 100%;
    height: 30px;
    color: white;
    margin-top: -35px;
    text-align: center;
    letter-spacing: 1px;
}





/* blog */
.mp_blog{
    height: auto;
    width: 100%;
}
.mp_blog_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_blog_cube{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px;
}
.mp_blog_content1{
    width: 100%;
    height: auto;
    padding: 15px;
    color: white;
    margin-bottom: 10px;
}
.mp_blog_content2{
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    flex-flow: wrap;
}
.mp_blogs_tags{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-right: 10px;
    padding: 15px;
}
.mp_blogs_tags:hover{
    cursor: default;
    color: black
}
.mp_blogs_tagstxt{
    display: inline;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px;
}
.mp_blog_txt1{
    display: inline;
    letter-spacing: 2px;
    font-size: 22px;
}
.mp_blog_txt2{
    display: inline;
    letter-spacing: 1px;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}
.mp_blog_txt3{
    color: rgb(207, 207, 207);
    margin-top: 10px;
}






/* contact */
.mp_contact{
    margin-top: 50px;
    height: auto;
    width: 100%;
}
.mp_contact_title{
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 6px;
}
.mp_contact_subtitle{
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-bottom: -10px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 2px;
}
.mp_contact_txtcube{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #C9D6FF, #E2E2E2); 
    background: linear-gradient(to right, #C9D6FF, #E2E2E2);
    box-shadow:0 0 10px #fff;
    border-radius: 25px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 35px;
}
.mp_contact_txt1{
    display: inline;
    font-size: 15px;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 15px;
}
.mp_contact_txt2{
    display: inline;
    font-size: 15px;
    color: black;
    background-color: black;
    letter-spacing: 0px;
    font-weight: 500;
    border-radius: 7px;
}
.mp_contact_txt2:hover{
    background-color: white;
}




/* signiture */
.mp_sig{
    margin-top: 80px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    text-align: center;
    background-color: #a48211b0;
    color: white;
    box-shadow:0 0 10px gold;
}
.mp_sig:hover .mp_sig_title{
    font-size: 180px;
    margin-bottom: -45px;
    cursor: default;
}
.mp_sig_title{
    margin-top: 0px;
    font-size: 150px;
    font-family: 'Qwitcher Grypen', cursive;
    letter-spacing: 5px;
}
.mp_sig_txt1{
    margin-top: 35px;
    font-size: 16px;
    letter-spacing: 1px;
}
.mp_sig_txt2{
    font-style: italic;
    letter-spacing: 1px;
}


/* footer */
.mp_footer{
    margin-top:50px;
    height: 300px;
    width: 100%;
    border-top: 1px rgb(63, 63, 63) solid;
    text-align: center;
    color: white;
}
.mp_footer_txt1{
    margin-top: 40px;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.mp_footer_txt2{
    margin-top: 0px;
    font-size: 14px;
    font-style: italic;
}
.mp_footer_icons{
    margin-top: 17px;
    font-size: 20px;
    padding-left: 12px;
}
.mp_footer_icons:hover{
    color:#ff8c00;
    cursor: pointer;
}